In [34]:
import pandas as pd

In [35]:
df=pd.read_csv('cardio_train.csv',sep=';')
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [36]:
df.isnull().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
x=df.iloc[:,:-1]
x

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,0,18393,2,168,62.0,110,80,1,1,0,0,1
1,1,20228,1,156,85.0,140,90,3,1,0,0,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0
3,3,17623,2,169,82.0,150,100,1,1,0,0,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1

In [39]:
y=df['cardio']
y

0        0
1        1
2        1
3        1
4        0
        ..
69995    0
69996    1
69997    1
69998    1
69999    0
Name: cardio, Length: 70000, dtype: int64

In [40]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.30,random_state=1)

In [41]:
from sklearn.ensemble import RandomForestClassifier

In [42]:
model=RandomForestClassifier()

In [43]:
model.fit(xtrain,ytrain)

RandomForestClassifier()

In [44]:
model.score(xtest,ytest)

0.7236666666666667

In [45]:
from sklearn.tree import DecisionTreeClassifier

In [46]:
d=DecisionTreeClassifier()

In [47]:
d.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [48]:
d.score(xtest,ytest)

0.6393333333333333

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
23561,16136,2,169,71.0,100,80,1,1,1,0,1
34858,14615,1,158,69.0,140,80,2,1,0,0,1
54953,20507,1,164,65.0,120,80,1,1,0,0,1
59230,16720,1,153,53.0,100,60,1,1,0,0,1
1730,21050,1,159,71.0,140,90,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
49100,21289,2,175,78.0,120,80,1,1,0,0,1
20609,19116,1,164,68.0,120,80,1,1,0,0,0
21440,18049,2,178,82.0,120,80,1,1,0,0,1
50057,21957,1,169,77.0,120,80,1,1,0,0,0
5192,20671,1,174,65.0,160,90,2,2,0,0,1

Feature selection technique

In [49]:
from sklearn.feature_selection import SelectKBest,f_classif

In [50]:
m=SelectKBest(score_func=f_classif)

In [51]:
m.fit(x,y)

SelectKBest()

In [57]:
v=pd.DataFrame(m.scores_)

In [74]:
v.rename(columns={0:'score'},inplace=True)

In [75]:
v.index=x.columns

In [76]:
v

                   score
id              1.010461
age          4209.007957
gender          4.603641
height          8.197397
weight       2388.777887
ap_hi         208.339524
ap_lo         303.629011
cholesterol  3599.361137
gluc          562.772977
smoke          16.790541
alco            3.761355
active         89.091494

In [78]:
v.nlargest(5,'score')

                   score
age          4209.007957
cholesterol  3599.361137
weight       2388.777887
gluc          562.772977
ap_lo         303.629011

* Feature importance

In [80]:
from sklearn.ensemble import ExtraTreesClassifier

In [81]:
m=ExtraTreesClassifier()

In [82]:
m.fit(x,y)

ExtraTreesClassifier()

array([0.16013451, 0.20528775, 0.0053643 , 0.13687544, 0.14672133,
       0.17051484, 0.10353005, 0.04627982, 0.01208531, 0.00410035,
       0.00429597, 0.00481034])

In [89]:
tf=pd.Series(m.feature_importances_,index=x.columns)

In [90]:
tf

id             0.160135
age            0.205288
gender         0.005364
height         0.136875
weight         0.146721
ap_hi          0.170515
ap_lo          0.103530
cholesterol    0.046280
gluc           0.012085
smoke          0.004100
alco           0.004296
active         0.004810
dtype: float64

In [91]:
tf.nlargest(5)

age       0.205288
ap_hi     0.170515
id        0.160135
weight    0.146721
height    0.136875
dtype: float64