In [2]:
import pandas as pd
from sklearn import linear_model
data=pd.read_csv('car price.csv')
data

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [3]:
data.experience.fillna(data.experience.median(),inplace=True)

In [4]:
data

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [5]:
reg=linear_model.LinearRegression()
reg.fit(data[['speed','car_age','experience']],data.risk)

LinearRegression()

In [6]:
reg.predict([[160,10,5]])

array([71.37146872])